body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #333;
  }
  
  .navbar .navbar-text {
    font-size: 0.9rem;
    color: white;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    color: white;
    font-size: 1.1rem;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .table th, .table td {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .table thead {
    background-color: #e3e6f0;
  }
  
  .table tbody td {
    background-color: #f8f9fa;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .vh-100 {
    height: 100vh;
  }
  
  /* Navbar fijo */
.navbar {
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Asegura que el navbar esté por encima de otros elementos */
}

/* Sidebar fijo */
.sidebar {
  position: fixed;
  top: 62px; /* Altura del navbar */
  left: 0;
  width: 200px; /* Ajusta al ancho deseado */
  height: calc(100vh - 56px); /* Altura completa menos el navbar */
  overflow-y: auto; /* Permite desplazamiento si el contenido es mayor que la pantalla */
  z-index: 1020; /* Debajo del navbar */
}

/* Ajustar el contenedor principal */
.col-md-10 {
  margin-left: 200px; /* Igual al ancho del sidebar */
  margin-top: 56px; /* Igual a la altura del navbar */
}
